*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header aside{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh ;
    color: lightgray ;
    gap: 20px;
}
header{
    background-color: #000000;
    padding: 10px;
    padding-right: 100px;
}
header figure img{
    width: 150px;
}
header aside ul li{
    margin-block:10px ;
}
header aside div:last-of-type{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    
}

main nav{
    border:1px solid navy;
}

.prova{
    display: flex;
    justify-content: flex-start;
}